<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<h1>Register</h1>
	<form action="/users/" method="POST">
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<button>Create An Account</button>
	</form>

	<h2 class="error"><%= session[:message]%></h2>


	<a href="/login">Have an Account? Login Here</a>

</body>
</html>