body{
	background-color: rgb(1, 0, 96);
	color: rgb(232, 232, 232);
	text-align: center;
}
form{
	margin: 0 auto;
	background-color: rgba(232, 232, 232, 1);
	width: 20vw;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10%;
}
input{
	margin: 0 auto;
	height: 20px;
	width: 50%;
}
button{
	margin: 5px auto;
	width: 50%;
	border-radius: 10%;
}
a{
	color: rgb(232,232,232);
}
.error{
	color: red;
}